html,
body {
  margin: 0 auto;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: #394149;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c6c6c6;
  width: 375px;
  height: 67px;

  margin-bottom: 10px;
}

.site-logo {
  height: 75%;
}

.user-avatar {
  /* border-radius: 0px 50px 50px 50px; */
  border-radius: 2151.27px;
  border: none;
  width: 34px;
  height: 34px;
}

/* .user-avatar:hover {
  border: 1px solid red;
} */

.author-name {
  font-weight: 800;
}

.post {
  width: 375px;
  height: 545px;
}

.user-post-image {
  width: 375px;
  height: 375px;
  padding-bottom: 0;
}

.interact-icons {
  height: 22.3px;
  width: 23.13px;
  padding: 15px 5px;
}

.interact-icons {
  opacity: 60%;
}

.interact-icons:hover {
  opacity: 100%;
}

.author-name {
  font-weight: 800;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.author-name,
.user-avatar,
.author-location {
  margin-top: 0;
  padding-top: 0;
}

.author-details {
  padding-left: 7px;
  display: flex;
  flex-direction: column;
}

.author-location {
  padding-top: 0;
  margin-top: 0;
  font-size: 14px;
  line-height: 15px;
}

.author-name {
  margin-bottom: 0;
}

.user-data {
  display: flex;
}

.bold {
  font-weight: 700;
}

.likes {
  margin-top: 0;
}

.user-comment {
  display: flex;
  flex-direction: row;
}

.author-comment {
  margin: 0;
  padding-left: 10px;
}

a {
  text-decoration: none;
  color: #394149;
}
